{% extends "base.html" %}

{% block title %}Casino{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="casino-image-container">
        <img src="{{ url_for('static', filename='images/casino-main.jpg') }}" 
             alt="Casino Main Page" 
             class="img-fluid w-100 vh-100"
             style="object-fit: cover;">
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .casino-image-container {
        height: 100vh;
        width: 100vw;
    }
    .navbar {
        display: none; /* Optional: hide navbar on casino page */
    }
</style>
{% endblock %}